// variables primary
$intro-and-email-sign-up-background: hsl(217, 28%, 15%);
$main-background: hsl(218, 28%, 13%);
$footer-background: hsl(216, 53%, 9%);
$testimonials-background: hsl(219, 30%, 18%);
// variables accent
$inside-call-to-action-gradient: hsl(176, 68%, 64%);
$inside-call-to-action-gradient2: hsl(198, 60%, 50%);
$error: hsl(0, 100%, 63%);
// variables neutral
$white: hsl(0, 0%, 100%);

// site
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 62.5%;
	min-height: 100vh;
	min-width: 375px;
	background-color: $main-background;
	color: $white;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1440px;
	padding: 2em;
	background-color: $intro-and-email-sign-up-background;

	&__logo {
		width: 100px;
	}

	&__links {
		display: flex;
		flex-direction: row;
		gap: 2em;

		a {
			font-family: 'Raleway', sans-serif;
			font-size: 1rem;
			color: $white;
		}
	}
}

.hero {
	text-align: center;
	padding: 2em;
	background: url('../images/bg-curvy-mobile.svg') center no-repeat,
		linear-gradient(to bottom, $intro-and-email-sign-up-background 60%, $main-background 40%);
	background-size: contain;

	&__image {
		img {
			display: block;
			height: auto;
			max-width: 100%;
			object-fit: fill;
		}
	}

	&__heading {
		font-size: 1.5rem;
		margin: 1em 0;
	}

	&__text {
		font-size: 0.9rem;
		line-height: 1.5em;
		padding: 0 1em;
		opacity: 0.7;
	}

	&__button {
		font-size: 0.9rem;
		font-weight: 700;
		padding: 1em 5em;
		margin: 2em;
		border: none;
		border-radius: 2em;
		background: linear-gradient(90deg, $inside-call-to-action-gradient, $inside-call-to-action-gradient2);
		color: $white;
		cursor: pointer;
	}
}

.info {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	text-align: center;
	margin: 3em 2em;

	&__card {
		width: 330px;
		height: 200px;
		margin: 4em 0;

		&--image {
			height: 65px;
			margin-bottom: 2em;
		}

		&--heading {
			font-size: 1.1rem;
		}

		&--text {
			font-size: 0.9rem;
			line-height: 1.5em;
			margin: 1em 0;
			opacity: 0.7;
		}
	}
}

.product-info {
	margin: 10em 2em;
	text-align: center;

	&__image {
		display: block;
		height: auto;
		max-width: 100%;
		object-fit: fill;
	}

	&__container {
		text-align: left;

		&--heading {
			font-size: 1.1rem;
			margin-top: 2em;
		}

		&--text1,
		&--text2 {
			font-size: 0.9rem;
			line-height: 1.5em;
			margin: 1em 0;
			opacity: 0.7;
		}

		&--link {
			display: inline-flex;
			flex-direction: row;
			gap: 5px;
			font-size: 0.8rem;
			color: $inside-call-to-action-gradient;
			padding-bottom: 5px;
			border-bottom: 1px solid;
			opacity: 0.7;
		}
	}
}

.testimonials {
	position: relative;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	// background: url("../images/bg-quotes.png") no-repeat;
	// background-size: 10%;
}

.testimonial-card {
	width: 285px;
	height: 165px;
	padding: 2em;
	margin: 1em;
	border-radius: 0.5em;
	background-color: $testimonials-background;

	&__text {
		font-family: 'Raleway', sans-serif;
		font-size: 0.7rem;
		line-height: 1.5em;
		margin-bottom: 2em;
		opacity: 0.7;
	}

	&__profile {
		display: flex;
		align-items: center;

		&--image {
			width: 25px;
			height: 25px;
			border-radius: 50%;
		}

		&--author {
			display: flex;
			flex-direction: column;
			gap: 0.2em;
			margin-left: 1em;

			p:first-of-type {
				font-size: 0.6rem;
				letter-spacing: 1px;
				font-weight: 700;
			}

			p:last-of-type {
				font-size: 0.6rem;
				opacity: 0.5;
			}
		}
	}
}

.testimonial-card:first-of-type::after {
	content: '';
	position: relative;
	background: url('../images/bg-quotes.png');
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	height: 1.2rem;
	width: 2rem;
	top: -10rem;
	left: -1rem;
}

.access {
	display: flex;
	flex-direction: column;
	justify-content: center;
	// align-items: center;
	text-align: center;

	height: 360px;
	// max-width: 865px;

	margin: 2em;
	padding: 2.5em;
	border-radius: 1em;
	background-color: $intro-and-email-sign-up-background;
	box-shadow: 0px 5px 25px -15px rgba(0, 0, 0, 1);

	&__heading {
		font-size: 1.3rem;
	}

	&__text {
		font-family: 'Raleway', sans-serif;
		font-size: 0.9rem;
		line-height: 1.5em;
		margin: 2em 0;
		opacity: 0.8;
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 2em;

		&--input {
			border-radius: 5em;
			border: none;
			padding: 1.5em 2em;

			&::placeholder {
				opacity: 0.5;
			}
		}

		&--button {
			font-size: 0.9rem;
			font-weight: 700;
			text-transform: capitalize;
			border-radius: 5em;
			border: none;
			padding: 1.2em 2em;
			background: linear-gradient(90deg, $inside-call-to-action-gradient, $inside-call-to-action-gradient2);
			color: $white;
		}
	}
}

//// STOPPED HERE, I NEED TO STYLE MY ERROR TEXT
///
///
