// variables primary
$intro-and-email-sign-up-background: hsl(217, 28%, 15%);
$main-background: hsl(218, 28%, 13%);
$footer-background: hsl(216, 53%, 9%);
$testimonials-background: hsl(219, 30%, 18%);
// variables accent
$inside-call-to-action-gradient: hsl(176, 68%, 64%);
$inside-call-to-action-gradient2: hsl(198, 60%, 50%);
$error: hsl(0, 100%, 63%);
// variables neutral
$white: hsl(0, 0%, 100%);

// site
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 62.5%;
	min-height: 100vh;
	min-width: 375px;
	background-color: $main-background;
	color: $white;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1440px;
	padding: 2em;
	background-color: $intro-and-email-sign-up-background;

	&__logo {
		width: 100px;
	}

	&__links {
		display: flex;
		flex-direction: row;
		gap: 2em;

		a {
			font-family: 'Raleway', sans-serif;
			font-size: 1rem;
			color: $white;
		}
	}
}

.hero {
	text-align: center;
	padding: 2em;
	background: url('../images/bg-curvy-mobile.svg') center no-repeat,
		linear-gradient(to bottom, $intro-and-email-sign-up-background 60%, $main-background 40%);
	background-size: contain;

	&__image {
		img {
			display: block;
			height: auto;
			max-width: 100%;
			object-fit: fill;
		}
	}

	&__heading {
		font-size: 1.5rem;
		margin: 1em 0;
	}

	&__text {
		font-size: 0.9rem;
		line-height: 1.5em;
		padding: 0 1em;
		opacity: 0.7;
	}

	&__button {
		font-size: 0.9rem;
		font-weight: 700;
		padding: 1em 5em;
		margin: 2em;
		border: none;
		border-radius: 2em;
		background: linear-gradient(90deg, $inside-call-to-action-gradient, $inside-call-to-action-gradient2);
		color: $white;
		cursor: pointer;
	}
}

.info {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	text-align: center;
	margin: 3em 2em;

	&__card {
		width: 330px;
		height: 200px;
		margin: 4em 0;

		&--image {
			height: 65px;
			margin-bottom: 2em;
		}

		&--heading {
			font-size: 1.1rem;
		}

		&--text {
			font-size: 0.9rem;
			line-height: 1.5em;
			margin: 1em 0;
			opacity: 0.7;
		}
	}
}

.product-info {
	margin: 10em 2em;

	&__image {
		display: block;
		height: auto;
		max-width: 100%;
		object-fit: fill;
	}

	&__container {
		&--heading {
			font-size: 1.1rem;
			margin-top: 2em;
		}

		&--text1,
		&--text2 {
			font-size: 0.9rem;
			line-height: 1.5em;
			margin: 1em 0;
			opacity: 0.7;
		}

		&--link {
			display: inline-flex;
			flex-direction: row;
			gap: 5px;
			font-size: 0.8rem;
			color: $inside-call-to-action-gradient;
			padding-bottom: 5px;
			border-bottom: 1px solid;
			opacity: 0.7;
		}
	}
}
