// variables primary
$intro-and-email-sign-up-background: hsl(217, 28%, 15%);
$main-background: hsl(218, 28%, 13%);
$footer-background: hsl(216, 53%, 9%);
$testimonials-background: hsl(219, 30%, 18%);
// variables accent
$inside-call-to-action-gradient: hsl(176, 68%, 64%);
$inside-call-to-action-gradient2: hsl(198, 60%, 50%);
$error: hsl(0, 100%, 63%);
// variables neutral
$white: hsl(0, 0%, 100%);

// site
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 62.5%;
	min-height: 100vh;
	min-width: 375px;
	background-color: $main-background;
	color: $white;
}

.wrapper,
.footer {
	max-width: 1440px;
	margin: 0 auto;
}

header {
	background-color: $intro-and-email-sign-up-background;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2em;

	&__logo {
		width: 100px;
	}

	&__links {
		display: flex;
		flex-direction: row;
		gap: 2em;

		a {
			font-family: 'Raleway', sans-serif;
			font-size: 1rem;
			color: $white;
			opacity: 0.8;
			cursor: pointer;
			transition: opacity 0.3s, text-decoration 0.3s;
		}

		a:hover {
			opacity: 1;
			text-decoration: underline;
		}
	}
}

.hero {
	text-align: center;
	padding: 2em;
	background: url('../images/bg-curvy-mobile.svg') center no-repeat,
		linear-gradient(to bottom, $intro-and-email-sign-up-background 60%, $main-background 40%);
	background-size: contain;

	&__image {
		img {
			display: block;
			height: auto;
			margin: auto;
			max-width: 100%;
			object-fit: fill;
		}
	}

	&__heading {
		font-size: 1.5rem;
		max-width: 700px;
		margin: 1em auto;
	}

	&__text {
		font-size: 0.9rem;
		line-height: 1.5em;
		max-width: 700px;
		padding: 0 1em;
		margin: auto;
		opacity: 0.7;
	}

	&__button {
		font-size: 0.9rem;
		font-weight: 700;
		padding: 1em 5em;
		margin: 2em;
		border: none;
		border-radius: 2em;
		background: linear-gradient(90deg, $inside-call-to-action-gradient, $inside-call-to-action-gradient2);
		color: $white;
		opacity: 0.8;
		cursor: pointer;
		transition: opacity 0.5s;
	}

	&__button:hover {
		opacity: 1;
	}
}

.info {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	text-align: center;
	max-width: 1000px;
	margin: 3em auto;

	&__card {
		width: 330px;
		height: 200px;
		margin: 4em 0;

		&--image {
			height: 65px;
			margin-bottom: 2em;
		}

		&--heading {
			font-size: 1.1rem;
		}

		&--text {
			font-size: 0.9rem;
			line-height: 1.5em;
			margin: 1em 0;
			opacity: 0.7;
		}
	}
}

.product-info {
	margin: 10em auto;
	padding: 0 2em;
	text-align: center;

	&__image {
		display: block;
		height: auto;
		max-width: 100%;
		margin: auto;
		object-fit: fill;
	}

	&__container {
		text-align: left;
		margin: auto;

		&--heading {
			font-size: 1.1rem;
			margin-top: 2em;
		}

		&--text1,
		&--text2 {
			font-size: 0.9rem;
			line-height: 1.5em;
			margin: 1em 0;
			opacity: 0.7;
		}

		&--link {
			display: inline-flex;
			flex-direction: row;
			gap: 5px;
			font-size: 0.8rem;
			color: $inside-call-to-action-gradient;
			padding-bottom: 5px;
			border-bottom: 1px solid;
			opacity: 0.7;
			cursor: pointer;
			transition: color 0.3s, filter 0.3s;
		}

		&--link:hover {
			color: $white;

			img {
				filter: grayscale(100%);
			}
		}
	}
}

.testimonials {
	position: relative;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
}

.testimonial-card {
	width: 285px;
	height: 165px;
	padding: 2em;
	margin: 1em;
	border-radius: 0.5em;
	background-color: $testimonials-background;

	&__text {
		font-family: 'Raleway', sans-serif;
		font-size: 0.7rem;
		line-height: 1.5em;
		margin-bottom: 2em;
		opacity: 0.7;
	}

	&__profile {
		display: flex;
		align-items: center;

		&--image {
			width: 25px;
			height: 25px;
			border-radius: 50%;
		}

		&--author {
			display: flex;
			flex-direction: column;
			gap: 0.2em;
			margin-left: 1em;

			p:first-of-type {
				font-size: 0.6rem;
				letter-spacing: 1px;
				font-weight: 700;
			}

			p:last-of-type {
				font-size: 0.6rem;
				opacity: 0.5;
			}
		}
	}
}

.testimonial-card:first-of-type::after {
	content: '';
	position: relative;
	background: url('../images/bg-quotes.png');
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	height: 1.2rem;
	width: 2rem;
	top: -10rem;
	left: -1rem;
}

.access {
	transform: translateY(50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	max-width: 860px;
	margin: 0 2em;
	padding: 3.5em;
	border-radius: 1em;
	background-color: $intro-and-email-sign-up-background;
	box-shadow: 0px 5px 25px -15px rgba(0, 0, 0, 1);

	&__heading {
		font-size: 1.3rem;
	}

	&__text {
		font-family: 'Raleway', sans-serif;
		font-size: 0.9rem;
		line-height: 1.5em;
		max-width: 640px;
		margin: 2em auto;
		opacity: 0.8;
	}

	&__form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 2em;

		&--input {
			width: 100%;
			height: 55px;
			border-radius: 5em;
			border: none;
			padding: 0 2em;

			&::placeholder {
				opacity: 0.5;
			}
		}

		&--error {
			position: absolute;
			font-weight: 700;
			text-align: left;
			padding: 0 2.5em;
			color: $error;
			visibility: hidden;
		}

		.active {
			visibility: visible;
		}

		&--button {
			font-size: 0.9rem;
			font-weight: 700;
			text-transform: capitalize;
			height: 55px;
			padding: 0 2em;
			border-radius: 5em;
			border: none;
			background: linear-gradient(90deg, $inside-call-to-action-gradient, $inside-call-to-action-gradient2);
			color: $white;
			opacity: 0.8;
			cursor: pointer;
			transition: opacity 0.5s;
		}

		&--button:hover {
			opacity: 1;
		}
	}
}

footer {
	background-color: $footer-background;

	.footer {
		padding: 20em 3em 0em;

		&__logo {
			width: 180px;
			margin: 2em 2.5em;
		}

		&__location,
		&__phone,
		&__email {
			margin: 1em 0;

			&--image {
				float: left;
			}

			&--text {
				font-size: 1rem;
				max-width: 340px;
				margin-left: 2em;
				opacity: 0.8;
			}

			&--number,
			&--email {
				font-size: 0.9rem;
				margin-left: 1em;
				color: $white;
				opacity: 0.8;
			}
		}

		&__links {
			margin: 5em 0;

			a {
				display: inline-block;
				font-size: 1rem;
				margin: 0.5em 0;
				color: $white;
				opacity: 0.8;
				transition: opacity 0.5s;
			}

			a:hover {
				opacity: 1;
			}

			&--section {
				margin-bottom: 3em;
			}
		}

		&__media {
			text-align: center;

			i {
				font-size: 0.9rem;
				display: inline-flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				width: 30px;
				height: 30px;
				margin: 0.5em;
				border: 1px solid $white;
				border-radius: 50%;
				color: $white;
				cursor: pointer;
				transition: color 0.3s, border-color 0.3s;
			}

			i:hover {
				color: $inside-call-to-action-gradient;
				border-color: $inside-call-to-action-gradient;
			}
		}

		&__author {
			text-align: center;

			a {
				color: $error;
			}
		}
	}
}

@media (min-width: 576px) {
	.product-info {
		display: flex;
		gap: 3em;

		&__image {
			max-width: 50%;
		}
	}

	.access {
		padding: 3.5em 5em;

		&__form {
			flex-direction: row;

			&--input {
				width: 60%;
			}

			&--error {
				bottom: 1.5em;
				left: 8em;
			}

			&--button {
				width: 30%;
			}
		}
	}
}

@media (min-width: 768px) {
	.hero {
		background: url('../images/bg-curvy-desktop.svg') center no-repeat,
			linear-gradient(to bottom, $intro-and-email-sign-up-background 60%, $main-background 40%);
	}

	footer {
		.footer {
			display: grid;
			grid-template-columns: repeat(2, auto);
			grid-template-rows: repeat(6, auto);
			grid-column-gap: 0px;
			grid-row-gap: 0px;

			&__logo {
				grid-area: 1 / 1 / 2 / 3;
			}

			&__location {
				grid-area: 2 / 1 / 4 / 2;
			}

			&__phone {
				grid-area: 2 / 2 / 3 / 3;
			}

			&__email {
				grid-area: 3 / 2 / 4 / 3;
			}

			&__links {
				grid-area: 4 / 1 / 5 / 3;
				display: flex;
				gap: 2em;
				margin: 1em 0;
				margin-left: 3em;
			}

			&__media {
				grid-area: 5 / 1 / 6 / 3;
			}

			&__author {
				grid-area: 6 / 1 / 7 / 3;
			}
		}
	}
}

@media (min-width: 895px) {
	.access {
		margin: 0 auto;
	}

	footer {
		.footer {
			grid-template-columns: repeat(3, auto);
			grid-template-rows: repeat(5, auto);

			&__logo {
				grid-area: 1 / 1 / 2 / 4;
			}

			&__location {
				grid-area: 2 / 1 / 4 / 2;
			}

			&__phone {
				grid-area: 2 / 2 / 3 / 3;
			}

			&__email {
				grid-area: 3 / 2 / 4 / 3;
			}

			&__links {
				grid-area: 2 / 3 / 4 / 4;
				display: flex;
				gap: 5em;
				margin: 0;

				a {
					margin: 0.2em 0;
				}

				&--section {
					margin-bottom: 0em;
				}
			}

			&__media {
				grid-area: 4 / 1 / 5 / 4;
			}

			&__author {
				grid-area: 5 / 1 / 6 / 4;
			}
		}
	}
}

@media (min-width: 992px) {
	.navbar {
		&__logo {
			width: 185px;
		}

		&__links {
			gap: 4em;

			a {
				font-size: 1.3rem;
			}
		}
	}

	.hero {
		&__heading {
			font-size: 2rem;
		}

		&__text {
			font-size: 1rem;
			padding: 0 6em;
		}

		&__button {
			font-size: 1rem;
		}
	}

	.info {
		&__card {
			margin: 4em;

			&--heading {
				font-size: 1.2rem;
			}

			&--text {
				font-size: 1rem;
			}
		}
	}

	.product-info {
		&__image {
			max-width: 50%;
		}

		&__container {
			max-width: 50%;

			&--heading {
				font-size: 2rem;
				max-width: 60%;
			}

			&--text1,
			&--text2 {
				font-size: 1rem;
				max-width: 80%;
			}

			&--link {
				font-size: 0.9rem;
			}
		}
	}

	.testimonial-card {
		width: 380px;
		height: 220px;
		padding: 3em;

		&__text {
			font-size: 1rem;
		}

		&__profile {
			&--image {
				width: 40px;
				height: 40px;
			}

			&--author {
				p:first-of-type {
					font-size: 0.9rem;
				}

				p:last-of-type {
					font-size: 0.8rem;
				}
			}
		}
	}

	.testimonial-card:first-of-type::after {
		height: 3.5rem;
		width: 3.5rem;
		top: -15rem;
		left: -2.5rem;
		z-index: -1;
	}

	.access {
		&__heading {
			font-size: 2rem;
		}

		&__text {
			font-size: 1rem;
		}

		&__form {
			gap: 3em;

			&--input {
				font-size: 1rem;
			}

			&--error {
				font-size: 0.8rem;
				bottom: 1em;
				left: 5.5em;
			}

			&--button {
				font-size: 1rem;
			}
		}
	}

	footer {
		.footer {
			grid-template-columns: repeat(4, auto);
			grid-template-rows: repeat(4, auto);

			&__logo {
				grid-area: 1 / 1 / 2 / 5;
			}

			&__location {
				grid-area: 2 / 1 / 4 / 2;
			}

			&__phone {
				grid-area: 2 / 2 / 3 / 3;
			}

			&__email {
				grid-area: 3 / 2 / 4 / 3;
			}

			&__links {
				grid-area: 2 / 3 / 4 / 4;
				gap: 7em;
				margin-left: 4em;
			}

			&__media {
				grid-area: 2 / 4 / 4 / 5;
			}

			&__author {
				grid-area: 4 / 1 / 5 / 5;
				margin-top: 1em;
			}
		}
	}
}
